replicaCount: 2

image:
  repository: hcuri/skool-mvp-web
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 80

api:
  baseUrl: "http://localhost:8080"

env: {}

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    memory: 128Mi
